* {
    padding: 0 10px;
    margin: 0;
}

/* 로고 왼쪽 정렬 */
header .container .logo {
    float: left;
    height: 90px;
}

/* 네비게이션 밑줄 */
nav {
    border-bottom: solid 1px rgb(243, 233, 233);
}

/* floate clear */
.container::after {
    content: "";
    display: block;
    clear: both;
}

/* 사이드 메뉴 스타일 */
.sidemenu {
    float: right;
    list-style-type: none;
    text-align: right;
}
.sidemenu li {
    float: left;
}
.sidemenu li a {
    display: inline-block;
    text-decoration: none;
    color: #777;
    padding: 20px 35px;
}

/* 왼쪽 메뉴 스타일 */
.leftMenu {
    list-style-type: none;
    margin-left: 20px;
    font-weight: bold;
}
.leftMenu li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}
.active a {
    color: rgb(253, 148, 1);
    border-bottom: 2px solid rgb(253, 148, 1);
}
.dropmenu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropmenu sapn a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropmenu:hover .dropmenu {
    display: block;
}

.leftMenu li a:hover {
    color: rgb(253, 148, 1)
}
ul li {
    float: left;
}

/* 오른쪽 메뉴 스타일 */
.rightMenu {
    float: right;
}
.rightMenu li {
    float: left;
    list-style-type: none;
    width: 110px;
    padding: 4px;
    border-radius: 40px;
    border: 2px solid rgb(253, 148, 1);
    text-align: center;
    margin: 0 10px;
}

.rightMenu li a {
    text-decoration: none;
    color: rgb(253, 148, 1);
    display: inline-block;
}

/* 로그인 박스 스타일 */
.loginBox .box2 {
    height: 300px;
}

.box1 {
    float: left;
    width: 49%;
    height: 300px;
    border: 1px rgb(253, 148, 1) solid;
    padding: 0;
    margin-top: 40px;
}
.alert {
    text-align: center;
    border: 1px rgb(253, 148, 1) solid;
}

/* h1 태그 스타일 */
.box1 .logo h1 {
    display: block;
    margin: 10px 50px 30px 50px;
    padding: 20px;
    border-bottom: 2px solid;
}
.box2 h1 {
    display: block;
    margin: 10px 50px 30px 50px;
    padding: 20px;
    border-bottom: 2px solid;
}
.alert h1 {
    display: block;
    text-align: left;
    margin: 10px 50px 10px 50px;
}

/* button과 input 스타일 */
input {
    display: block;
    width: 80%;
    height: 30px;
    margin: 15px auto;
}
.box1 form button {
    color: white;
    background-color: rgb(253, 148, 1);
    border: 1px solidrgb(253, 148, 1);
}
.box2 .social .facebook{
    color: white;
    background-color: rgb(59, 89, 153);
    border: 1px solid rgb(59, 89, 153);
}
.box2 .social .twitter {
    color: white;
    background-color: rgb(29, 161, 243);
    border: 1px solid rgb(29, 161, 243);
}
.box2 .social .naver {
    color: white;
    background-color: rgb(0, 189, 57);
    border: 1px solid rgb(0, 189, 57);
}
.box2 .social .kakao {
    color: black;
    background-color: rgb(255, 255, 19);
    border: 1px solid rgb(255, 255, 19);
}
button {
    display: block;
    width: 80%;
    height: 30px;
    margin: 15px auto;
}
.alert p button {
    display: inline-block;
    width: 40%;
    margin: 20px;
    background-color: white;
    border: 1px solid rgb(253, 148, 1);
    color: rgb(253, 148, 1);
}
.clear {
    content: "";
    display: block;
    clear: both;
}
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}
footer .top {
    border-top: 1px solid rgb(243,233,233);
    border-bottom: 1px solid rgb(243, 233, 233);
}
footer .top div span {
    display: inline-block;
}
footer .container strong {
    display: block;
    margin: 5px 0px;
}
footer .container .copyright {
    margin: 5px 0px;
}
/* .container {
    background-color: white;
}

.container .logo {
    display: inline-block;
    float: left;
}

ul {
    list-style-type: none;
}

.container .sidemenu li {
    display: inline-block;
}

.sidemenu li a {
    text-decoration: none;
    display: inline-block;
    color: rgb(0, 189, 57);
}
header {
    background-color: white;
}
nav .container {
    background-color: white;
}

.container .leftMenu li {
    float: left;
}

.container .leftMenu li a {
    text-decoration: none;
    color: black;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
}

.dropmenu {
    display: none;
}

.leftMenu li a:hover {
    color: rgb(0, 189, 57);
}

.rightMenu li {
    float: right;
}

.rightMenu li a {
    text-decoration: none;
    color: rgb(0, 189, 57);
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
}

.sidemenu, .leftMenu, .rightMenu {
    font-weight: bold;
}


#section2 {}

#section2 .container {
    background-color: gainsboro;
    text-align: center;
}

.loginBox {
    padding: 50px;
    margin: 50px auto;
    display: inline-block;
    text-align: center;
    background-color: white;
}

.box {
    width: 800px;
    height: 300px;
    display: inline-block;
}

.box .logo {
    width: 800px;
    padding: 0px 50px;
}
.social {
    padding: 0;
}
h1 {
    text-align: left;
}
input {
    width: 700px;
    height: 30px;
    margin: 10px 10px;
}
button {
    width: 710px;
    height: 40px;
    margin: 5px 0px;
    color: white;
    background-color: rgb(0, 189, 57);
    border: none;
}

.box .facebook {
    background-color: rgb(59, 89, 153);
}

.box .twitter {
    background-color: rgb(29, 161, 243);
}

.box .naver {
    background-color: rgb(0, 189, 57);
}

.box .kakao {
    background-color: rgb(255, 255, 19);
    color: black;
}

p button {
    background-color: white;
    color: rgb(0, 189, 57);
    border: 1px solid rgb(0, 189, 57);
}
.alert p {
    text-align: center;
}
.box, .clear, .top {
    border: 1px solid gainsboro;
} */
