* {
    padding: 0;
    margin: 0;
}

/* flexbox */
#wrap {
    display: flex;
    width: 90%;

    height: 500px;
    margin: 0 auto;
    border: 4px solid black;
}

/* flex item */
/* #wrap div {
    width: 33.33%;
} */

#wrap div:first-child {
    background-color: dodgerblue;
}

#wrap div:nth-child(2) {
    background-color: fuchsia;
}

#wrap div:last-child {
    background-color: gold;
}